* {
    box-sizing: border-box;
    padding: 2px;
    margin: 0;
}

h1 {
    margin-top: 30px;
    text-align: center;
}

.row {
    width: 100%;
}

#box {
    border: 2px solid black;
    margin: 0 15px 30px 15px;
    background-color: rgb(199, 133, 133);
}

p#lang-1 {
    border: 1px solid black;
    float: right;
    margin-top: 0;
    margin-right: 0;
    padding: 5px 40px 5px 40px;
    position: relative;
    top: right;
    font-family: 'Times New Roman', Times, serif;
    font-size: 125%;
    background-color: rgb(216, 190, 190);
}

p#lang-2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 125%;
    background-color: rgb(208, 240, 233);
    border: 1px solid black;
    float: right;
    margin-top: 0;
    margin-right: 0;
    padding: 5px 50px 5px 50px;
    position: relative;
    top: right;
}

p#lang-3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 125%;
    background-color: rgb(194, 224, 137);
    border: 1px solid black;
    float: right;
    margin-top: 0;
    margin-right: 0;
    padding: 5px 50px 5px 50px;
    position: relative;
    top: right;
}

p {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 100%
}

@media(min-width:992px) {
    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12 {
        float: left;
    }
    .col-lg-1 {
        width: 8.33%;
    }
    .col-lg-2 {
        width: 16.66%;
    }
    .col-lg-3 {
        width: 25%
    }
    .col-lg-4 {
        width: 33.33%;
    }
    .col-lg-5 {
        width: 41.66%
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-7 {
        width: 58.33%;
    }
    .col-lg-8 {
        width: 66.66%;
    }
    .col-lg-9 {
        width: 74.99%;
    }
    .col-lg-10 {
        width: 83.33%
    }
    .col-lg-11 {
        width: 91.66%
    }
    .col-lg-12 {
        width: 100%;
    }
}

@media(min-width:768px) and (max-width:991px) {
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
        float: left;
    }
    .col-md-1 {
        width: 8.33%;
    }
    .col-md-2 {
        width: 16.66%
    }
    .col-md-3 {
        width: 25;
    }
    .col-md-4 {
        width: 33.33%;
    }
    .col-md-5 {
        width: 41.66;
    }
    .col-md-6 {
        width: 50%
    }
    .col-md-7 {
        width: 58.33
    }
    .col-md-8 {
        width: 66.66%;
    }
    .col-md-9 {
        width: 74.99%
    }
    .col-md-10 {
        width: 83.33%
    }
    .col-md-11 {
        width: 91.66%;
    }
    .col-md-12 {
        width: 100%;
    }
}